<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Spring Framework 관련 로그 레벨 설정 -->
    <logger name="org.springframework" level="DEBUG"/>
    <logger name="org.springframework.security" level="DEBUG"/>
    <logger name="org.springframework.web" level="DEBUG"/>

    <!-- MyBatis 관련 로그 레벨 설정 -->
    <logger name="org.mybatis" level="DEBUG"/>
    <logger name="java.sql" level="DEBUG"/>
    <logger name="com.kbulkup" level="DEBUG"/> <!-- 프로젝트 패키지 로그 레벨 -->

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>