<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kbulkup.qna.mapper.QnAMapper">

    <insert id="insertQuestion">

        INSERT INTO qnas (
            training_id,
            user_id,
            trainer_id,
            question,
            created_at
        ) VALUES (
                     #{trainingId},
                     #{traineeId},
                     #{trainerId},
                     #{question},
                     NOW()
                 )
    </insert>
</mapper>